<p id="notice"><%= notice %></p>

<h1>Litter</h1>

<div class="jumbotron">
    <h2>Random Tweet: <%= @random_tweet_body %></h2>
</div>

<center>
<% @tweets.each do |tweet| %>
<div class="jumbotron" style="max-width: 400px">
  <p><%= tweet.body %></p>
  <h5>Posted by <%= tweet.user %></h5>
</div>
<% end %>
</center>

<br>

<%= link_to 'New Tweet', new_tweet_path %>